<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <!-- Logo & title -->
      <img src="https://docs.starknet.io/_/img/starknet_logo.png" alt="StarkNet logo" width="40px" height="40px" style="margin-top: 10px">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}"><strong>The Basecamp (StarkNet Book)</strong></a>
      <!-- Search Bar -->
      {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
      {{/if}}
      <!-- Mobile burger menu -->
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
     <!-- Main nav -->
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="https://docs.starknet.io/documentation/">Documentation</a>
          <a class="navbar-item" href="https://starknet.io/playground/?lesson=starknet_contract" target="_blank">StarkNet Playground</a>
          <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://community.starknet.io/" target="_blank">Community Forum</a>
            <a class="navbar-item" href="http://starknet.io/discord" target="_blank">Discord</a>
            <a class="navbar-item" href="https://twitter.com/StarkWareLtd" target="_blank">Twitter</a>
          </div>
        </div>
        </div>
    </div>
  </nav> 
</header>
