*.txt
node_modules/
.build/
cache/
.idea/
artifacts/
starknet-artifacts/
.pytest_cache/
build/
tmp/
package-lock.json
**/*compiled.json
**/*abi.json
**/*.bin
*.DS_STORE*
**/*.txt
public_html/

**/*.sum

*/**/__pycache__
